.vscode/**
.vscode-test/**
src/**
!src/descriptors/**
.gitignore
.eslintrc.json
tsconfig.json
webpack.config.js
node_modules/**
*.vsix
.git/**
.github/**
**/*.map
TESTING.md
CONTRIBUTING.md
.mega-linter.yml.example
